:root{
    --nav-color: rgb(209, 12, 78);

}
/* start navbar */
body{
margin: 0;
padding: 0;
}
nav{
    background-color: white;
    top: 0;
    display: flex;
}
.sticky-top{
    position: sticky;
    top: 0;
    z-index: 1000;
}
 nav .item-ul li{
    display: inline-block;
  margin: 5px 40px;
}
 nav .item-ul li a{
    text-decoration: none;
  list-style: none;
  color: #000;
  font-size: 20px;

}
nav .item-ul li a:hover{
    color:var(--nav-color);
   
}
nav h1 span i  {
 color: blueviolet;
}
nav h1{
    color: var(--nav-color);
    font-size: 40px;
    transition: .3s;
}
nav h1:hover{
 letter-spacing: 5px;
}
nav .icon i{
    margin: 5px;
}
nav .icon i:hover{
    color: var(--nav-color);
}

/* end navbar */
/* start section */
.productsecation{
    background-color: rgba(255, 254, 254, 0.336);
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 8px black;
}
.box-2{
    background-color:rgba(0, 0, 0);
    width: 100%;
}
.productsecation .box-1 h2{
 color:gray;
 font-size: 40px;
 margin-bottom: 80px;
 margin-top: 50px;
 
}
.productsecation .box-1 p{
    color: rgb(139, 131, 146);
    line-height: 2;
    margin-top: 100px;
}
/* end secrion */
/* start fancy */
.fancy{
    position: relative;
  margin-top: 10px;
}
.btn0 a{
    border-radius: 50px;
    border-color: brown;
    position: absolute;
    left: 80%;
    top: 90%;
    background-color: rgb(235, 235, 182);
    padding: 20px;
}
@media screen and (max-device-width: 800px){
    .btn0 a{
        left: 0;
        top: 100%;
    }
    @media screen and (min-device-width: 800px){
        .btn0 a{
            left: 80%;
            top: 90%;
            padding: 40px;

        }
       
    }

}

/*  end fancy  */
/* start product */
.product-bag{
    margin-top:100px  ;
    margin-bottom: 100px;
    background-color:beige;
    
}
.product-bag .box3{
    position: relative;
    padding: 5px;
    overflow: hidden;
}
.product-bag .box3::before{
    content: attr(data-work);
    position: absolute;
    width: 100%;
    height: calc(100% - 10px);
    background-color: rgba(223, 223, 180, 0.815);
   color: #000;
   font-size: 20px;
   font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateX(calc(-100% - 5px));
   transition: .3s;
} 
.product-bag .box3:hover::before{
transform:translateX(0);
}
.product-bag h2{
 font-size: 50px;
 letter-spacing: 8px;
 text-transform: uppercase;
 color: #000;
}
/* end product */
/* start about */
.about-image h3{
     text-align: center;
     margin-bottom: 50px;
     text-transform: uppercase;
     background: linear-gradient(to right,rgb(180, 180, 135),rgb(190, 163, 163),black);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-size: 40px;
}
/* .about-image .images{
 display: flex;
 gap: 40px;
} */
.about-image .image-box6 img{
border: 5px solid rgb(215, 135, 222);
    border-radius: 20px;
 width: 800px;
 cursor: pointer;
 margin-top: 40px;
}
.about-image .image-box6 {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.about-image .image-box6 .text p{
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right,rgb(180, 180, 135),rgb(15, 14, 53),black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}
.about-image .image-box6 .text {
    position: absolute;
    top: 50%;
    right: 10px;
  
}
.about-image .image-box6 .text a{
    border-radius: 50px;
    border-color: brown;

    background-color: rgb(235, 235, 182);
    padding: 20px;
}


.about-image .small-image {
 display: flex;
 flex-direction: row;
 gap: 30px;
 position: relative;
 justify-content: space-around;
}
.about-image .small-image img{
    border: 5px solid rgb(215, 135, 222);
     width: 200px;
    height: 200px; 
    cursor: pointer;
border-radius: 20px;

}
.about-image{
    background-color: rgb(255, 255, 251);
}
/* end about */
/* start bag */
.bag{
    margin-top: 120px;
    margin-bottom:10px;  
  background-color: rgba(255, 235, 205, 0.6);
}
.bag-special{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    justify-content: space-between;
}
.bag-special img{
    width:800px;
}
.bag-special p{
    line-height:2;
    font-size: 25px;
    color: #c51515;
    margin-top: 50px;
}
.bag-special h2{
 font-size: 60px;
 color: rgb(173, 173, 100);
 text-transform: uppercase;
margin-top: 20px;
}
.bag .bag-special span{
    color: #c51515;
}

/* end bag */
/* start contact */
.contact{
  
      background-image: url(./image/Sustainably+Chic+_+Sustainable+Fashion+Blog+_+Best+Eco+Friendly+Sustainable+Handbags.jpg);
background-size: cover; 
height: 100vh;
position: relative;
}
.contact h1{
    font-size: 60px;
    color: rgb(173, 125, 20);
    text-transform: uppercase;
   margin-top: 40px; text-align: center;
   position: absolute;
   top: 0;
   right: 40%;

}
.login-form {
    width: 600px;
    height: 300px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 10%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
/* end contact */
footer{
    background-color: rgb(3, 3, 19);
    color: rgb(247, 243, 243);
    font-size: 15px;
}
footer i{
    color: rgb(194, 29, 56) ;
}